<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/base-layout::head"></head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
<style type="text/css">
	body {
		font-family: 'Comfortaa', cursive;
	}
</style>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/auth/login}">Iniciar Sesión</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/auth/registro}">Registrate</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Contáctanos</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="conteiner mt-4 ">
		<div class="row justify-content-center">
			<div class="col-md-3">
				<div class="">
					<form th:action="@{/logout}" method="POST">
						<button type="submit" class="btn btn-danger ">Cerrar sesión</button>
					</form>
				</div>

			</div>
		</div>
	</div><br>
	<div class="container">
		<h4>Productos</h4>
		<hr>
		<a th:href="@{/private/new}" class="btn btn-primary">Nuevo</a><br>
		<br>
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Stock</th>
					<th>Descripción</th>
					<th colspan="2">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto:${productos}">
					<td th:text="${producto.id}"></td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.precio}"></td>
					<td th:text="${producto.stock}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td>
						<a th:href="@{/private/editar/}+${producto.id}" class="btn btn-success">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-pen" viewBox="0 0 16 16">
								<path
									d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
							</svg>
						</a>
					</td>
					<td>
						<a th:href="@{/private/eliminar/}+${producto.id}" class="btn btn-danger">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-x-lg" viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
								<path fill-rule="evenodd"
									d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
							</svg>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>




</body>

</html>